<h1>New task</h1>

<hr>


<div class="mb-3" <%form_with model: @task do |f|%>>
  <label <% f.label :title %>  for="exampleFormControlInput1" class="form-label">Task title</label>
  <input <% f.text_field :title %> class="form-control" id="exampleFormControlInput1" placeholder="Task title">
</div>

<div class="mb-3">
  <label <% f.label :details %> for="exampleFormControlTextarea1" class="form-label">Task details</label>
  <textarea <% f.text_field :details %> class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Task details"></textarea>
</div>

<button <% f.submit %> type="button" class="btn btn-primary">Add!</button>
<% end %>

<div>
<%= link_to 'Back to list', tasks_path %>
</div>
